@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,600);

/* CSS declarations go here */
html, body{
  font-family: "Open Sans";
  font-size:16px;
  line-height: 1.5;
  background: #fdfdfd;
  color: #0c0c0c;
  padding: 0 1em
}

.hide{
  opacity:0;
  /*height: 0;*/
  /*overflow: hidden;*/

}

.message{
  padding:1em;
  margin:1em 0;
  position: relative;
  background: #eeeeee;
  -webkit-transition: all 500ms linear;
  -moz-transition: all 500ms linear;
  -ms-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
}

.arrow{
  position: absolute;
  left: -2em;
  width: 0; 
  height: 0; 
  border-top: 2em solid transparent;
  border-bottom: 2em solid transparent; 
  
  border-right:2em solid #eeeeee; 
}


.message span, .message time{ font-size:0.7em; color: #414042}
.message a{ display: block; color:#cc411a; margin-top: 2em; font-size: 0.8em}

.message p{ color: #0c0c0c; font-size: 1em; margin: 0.5em}
.message .name{ font-size: 1.2em; color:#2ba9cc; text-transform: uppercase; font-weight: 900;}
h1, h2, h3{color:#2ba9cc; }


.chat{margin-bottom:2em; text-align: right;}
textarea{
  width:100%;
  padding:1em;
  background: #eeeeee;
  min-height:2em;
  border:none;
}

textarea:focus{
  background: #dadada;
}

input[type="button"]{
  -webkit-appearance: none;
  border:none;
  background: #2ba9cc;
  color: #fff;
  padding:1em;
  display: inline-block;
}

#login-buttons{
  float: right
}